.pagination{
  list-style: none;
  display: flex;
  flex:1;
  justify-content: center;
  margin-top:50px;
}

.hiddenPagination{
  display: none;
}

.pagination li{
  display: inline-block;
}

.pagination li a {
  padding:10px;
  outline: none;
}

.pagination li a:hover {
  cursor: pointer;
  outline: none;
}

.disabledButtons a{
  color:gray;
  text-decoration: none;
  cursor: not-allowed;
}

a.listLink.selectedPage{
  text-decoration: underline;
  text-decoration-color:#21bc61;
  -moz-text-decoration-color:#21bc61;
}